@use './../../variables.scss' as mixin;

.whyChoose {
  background-color: mixin.$light-dark;
  padding: mixin.$mx-98;
  padding-top: 70px;
  padding-bottom: 70px;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .top_title {
      text-transform: uppercase;
      font-size: 5.6875rem;
      font-family: 'Bebas Neue', sans-serif;
      font-weight: 700;
      line-height: 96px;
      color: mixin.$white;

      span {
        &:not(:first-child) {
          color: mixin.$red;
          padding-left: 20px;
        }
      }
    }

    .top_paragraph {
      color: mixin.$white;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      font-weight: 300;
      line-height: 24px;
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    color: mixin.$white;
    margin-top: 80px;
  }

  // Tablet
  @media screen and (max-width: mixin.$sm-tablet) {
    padding: mixin.$mx-30;
    padding-top: 70px;
    padding-bottom: 70px;

    .bottom {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // Mobile
  @media screen and (max-width: mixin.$mobile) {
    .top {
      .top_title {
        font-size: 3rem;
        width: 100%;
      }
    }
  }
}
