//Colors
$red: #ff0000;
$white: #ffffff;
$black: #000000;
$light-black: #484848;
$light-dark: #121212;
$light-white: #f1f1f1;
$white-boder: #ccc;

// Spacing
$mx-98: 0 98px;
$mx-30: 0 30px;

//Screen sizes
$mobile: 39.9375em; //639
$tablet: 80.125em; //1282
$sm-tablet: 56.25em; //900
$large: 87.4375em; //1,399
